<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h1>Formulario</h1>
                <form  #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm)">
                    <input type="hidden" name="_id" [(ngModel)]="employeeService.selectedEmployee._id">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Ingrese su nombre completo" [(ngModel)]="employeeService.selectedEmployee.name">
                        <input type="number" class="form-control" name="salary" placeholder="Ingrese su salario" [(ngModel)]="employeeService.selectedEmployee.salary">
                        <input type="text" class="form-control" name="position" placeholder="Ingrese su posición" [(ngModel)]="employeeService.selectedEmployee.position">
                        <input type="text" class="form-control" name="office" placeholder="Ingrese su oficina" [(ngModel)]="employeeService.selectedEmployee.office">
                    </div>
                    <button class="btn btn-primary btn-sm" (click)="resetForm(employeeForm)">Limpiar campos</button>
                    <button class="btn btn-sm">Enviar formulario</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Posición</th>
                    <th>Oficina</th>
                    <th>Operacion</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employeeService.employees">
                    <td>{{ employee.name}}</td>
                    <td>{{ employee.position}}</td>
                    <td>{{ employee.office}}</td>
                    <td>{{ employee.salary}}</td>
                    <td>
                        <button class="btn btn-secondary btn-sm" (click)="editEmployee(employee)">
                            <i class="material-icons">edit</i>
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="deleteEmployee(employee._id)">
                            <i class="material-icons">delete</i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>